h1 {

	color:cornflowerblue;
	text-align: center;
	margin:auto;
	margin-top:50px;
	margin-bottom:40px;
	font-family: 'Roboto', sans-serif;
}

li {


text-align:center;
display:block;
margin:auto;
border:solid 2px black;
width:35%;
padding:15px;
font-family: 'Roboto', sans-serif;
box-sizing: border-box;
}

div {

margin:auto;
border: solid 2px grey;
width:65%;
border-radius:15px;
padding:0;
display:block;
text-align: center;
}

.profile {
	margin:auto;
	border:solid 2px grey;	
	display:block;
	
	width:200px;
	height:150px;
}

 .image {

margin:auto;
border: solid 2px grey;
width:30%;
border-radius:15px;
padding:0px;
height:15%;

}

a:link {
text-decoration: none;
color:grey;
font-weight: bold;
}
li:hover {

	background-color: cornflowerblue;
}

main {

text-align: center;
font-family: 'Roboto', sans-serif;
}